*  {
    margin:0;
    padding:0;
}

html, body {height:100%;}

body{
	font-family: arial,sans-serif-light,sans-serif;
}



.geral {
    min-height:100%;
    position:relative;
    padding-bottom: 80px;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
}

header{
	margin-bottom: 20px;
	background: #efefef;
	position: relative;
	padding-bottom: 8px;
}

header h1 a,
header h1{
	color: #e72f41;
}

header .form_lancamentos{
	position: absolute;
	right: 0;
    top: 21px;
}

header .form_lancamentos{
	display: inline-block;
}

header .form_lancamentos .dezenas{
	width: 274px;
}
header .form_lancamentos input{
	display: inline-block;
}

.giro-da-sorte .display .output {
    margin: 20px;
    padding: 20px;
    background: gray;
    border-radius: 10px;
    font-size: 80px;
    width: 80px;
    color: white;
    float: left;
    font-size: 40px;
}

.giro-da-sorte{
	text-align: center;
}

.giro-da-sorte .display{
	overflow: hidden;
	display: inline-block;
}



.giro-da-sorte .counter-up{
	font-size: 80px;
}

.giro-da-sorte .numero-sorteado{
	text-align: center;
}

.giro-da-sorte .numero-sorteado .count{
	background: #e72f41;
	width: 10px;
	display: inline-block;
}

.alert-secondary{
	background-color: #efefef!important;
	background-image: none;
	border: #efefef!important;
	color: #333;
}

.aviso{
	margin-bottom: 60px;
}

.bolas_chamadas .dezenas_sorteadas .dezena{
	display: inline-block;
    padding: 4px 5.7px;
    font-size: 14px;
    position: relative;
    font-weight: 300;
    margin-bottom: 4px;
}
.bolas_chamadas .dezenas_sorteadas .dezena a,
.bolas_chamadas .dezenas_sorteadas .dezena{
	font-weight: bold;
	background: #F8D217;
	color: #FFF;
}

.cartela{
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}



.cartela .email,
.cartela .telefone{
	display: block;
}

.cartela .titular{
	display: block;
	background: #EFEFEF;
	padding: 20px;
	margin-top: 30px;
}


.cartela h3{
	margin-top: 0;
}


.cartela h2{
	margin-top: 0;
}

.acoes a{
	width: 100%;
	margin-bottom: 8px;
}

.btn_voltar{
	text-align: right;
}

footer {
	padding: 20px 0;
	background: #efefef;
}

.creditos{
	text-align: center;
}


.cartela .dezena{
	display: inline-block;
    margin: 11px;
    letter-spacing: 2px;
    padding: 0 0 0 2px;
    width: 44px;
    height: 44px;
    font-size: 22px;
    line-height: 44px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.16);
    position: relative;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;

    font-weight: 300;
}

.cartela .dezena.sorteada a,
.dezenas_sorteadas .dezena.sorteada a,
.dezenas_sorteadas .dezena.sorteada,
.cartela .dezena.sorteada {
	font-weight: bold;
	background: #398439;
	color: #FFF;
}

.scroll{
	overflow-y: auto;
	max-height: 300px;
	margin-bottom: 20px;
	text-align: right;
	padding-right: 20px;
}

.scroll .todas_dezenas{
	display: inline-block;
	margin-bottom: 15px;
}

.scroll li a{
	font-size: 18px;
}

.naboa{
	font-weight: bold;
}

.saiu a{
	color: #398439;
	font-weight: bold;
}

.balao2{
	position: relative;
	background: #F8D217;
	border-radius: .4em;
	padding: 20px;
}

.balao2:after{ /*Triangulo*/
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #F8D217;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.sandrinha_maciel{
	margin-bottom: 20px;
	color: #398439;
	font-weight: bold;
}

.sandrinha_maciel .imagem_sandra{
	text-align: right;
}

.sandrinha_maciel .imagem_sandra img{
	max-width: 70px;
	margin: 0 0 0 auto;
}